html, body {
    margin: 0;
    padding: 0;
    font-family: "Chewy", Arial;
}
.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

#page_title {
    color: #efe2ce;
    background-color: #b58757;
    margin: 5px auto;
    padding: 5px 5px;
    border-radius: 10px;
    width: fit-content;
    font-size: 4vw;
}

.gallery {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 0.8fr 0.8fr 0.8fr;
    gap: 0.5vw;
    justify-content: space-between;
    padding: 20px;
}

/* card with the mushroom info */
.card {
    display: flex;
    flex-direction: column;
    /* height: 40vw; */
    padding: 1vw 0.7vw;
    background-color: #efe2ce;
    font-size: 1vw;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover {
    border: 3.5px solid #b58757;
    border-radius: 10px;
}

/* title on the mushroom card */
.card__title {
    font-size: 3vw;
    color: #b58757;
    margin: 0;
    padding: 0;
}

/* photo of the mushroom */
.card__image {
    height: 16vw;
    width: 15vw;
}

/* this is the small skull or fork image at the top left of the card */
.card__edible, .card__inedible {
    display: block;
    position: relative; 
    top: 0px;
    right: 6vw;
    height: 4vw;
    width: 4vw;
    margin: 0;
    padding: 0;
}

.card__subtitle {
    font-size: 2vw;
    margin: 0 0 0.09rem 0;
    padding: 0;
    color: #be350a;
}

.card__paragraph {
    font-size: 1vw;
    margin: 0 0 0.09rem 0;
    padding: 0;
}
footer {
    font-size: 2vw;
    padding: 20px;
}

.footer__img {
    width: clamp(10px, 2vw, 25px);
}

.span_2columns {
    grid-column: span 2;
}

.span_2rows {
    grid-row: span 2 / span 2;
}

.image_margin_bottom_increased {
    .card__image {
    margin-bottom: 50px;
}
}

.padding_increased {
    padding: 28px;
}